
@{
    ViewBag.Title = "FullReport";
}

<div style="text-align:center">
    <h1>REPORT</h1>
    DATA: @DateTime.Now

    <p><img src="Reports/TicketsTypes" /></p>
    <br />
    <br />
    <p><img src="Reports/UsedWristbands" /></p>
    <br />
    <br />
    <p><img src="Reports/TicketsSoldByType" /></p>
</div>

