@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aquapark</h1>
    <p class="lead">Project for Databases 2</p>
    <p><a href="https://github.com/PawZawDev/AEII_2020_BD2_ZAWIERUCHA_AQUAPARK" class="btn btn-primary btn-lg">Github Page &raquo;</a></p>
</div>